GITHUB_TOKEN=ghp_your-github-token
GH_APP_ID=0
GH_APP_INSTALLATION_ID=0
GH_APP_PRIV_KEY_BASE64=

# all the other variables are optional and not useful for development purposes.
# if you want to read about them in details anyway, take a look at `src/env.ts`.
